@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 20px 40px;
}

.searchbar {
  margin-top: 5px;
}

.storyBoard {
  margin-top: 15px;
}

.numSec {
  float: right;
  margin-top: -56px;
}

.octSec {
  float: left;
  width: 70px;
}

.desc {
  padding: 5px 16px !important;
  height: 50px;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.num {
  font-size: 13px;
  margin-left: 5px;
  color: #555;
}

.lang {
  width: 140px;
}

.langicon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.langicon.js {
  background-color: #f1e05a;
}
.langicon.objc {
  background-color: #438eff;
}
.langicon.python {
  background-color: #3572A5;
}
.langicon.html {
  background-color: #e44b23;
}
.langicon.css {
  background-color: #563D7C;
}
.langicon.go {
  background-color: #375eab;
}
.langicon.ruby {
  background-color: #701516;
}
.langicon.jup {
  background-color: #DA5B0B;
}
.langicon.r {
  background-color: #198CE7;
}
.langicon.clj {
  background-color: #db5855;
}
.langicon.shell {
  background-color: #89e051;
}
.langicon.coffee {
  background-color: #244776;
}
.langicon.cs {
  background-color: #178600;
}
.langicon.php {
  background-color: #4F5D95;
}
.langicon.java {
  background-color: #b07219;
}
.langicon.scala {
  background-color: #DC322F;
}

.tags {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.octicon {
  vertical-align: middle;
  display: inline-block;
  fill: currentColor;
  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #d37324;
}

.nav-bar {
  overflow-y:hidden;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 880px) {
  .numSec {
    visibility: hidden;
  }
}

@media screen and (max-width: 845px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 500px) {
  .nav-bar {
    max-height: 0px;
  }

  .storyBoard {
    height: 70px;
  }
}

