/**
 * colors:;
 * 日期 #d6e0ea
 * 链接 #4b4e5c
 * 正文2 #d7d7d7
 * 正文 #d37324
 * 备用 #61a4e0
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.storyBoard {
	width: 30%;
	float: left;
	margin-left: 2%;
	margin-top: 50px;
}

.desc {
  padding: 5px 16px !important;
  height: 50px;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.num {
  font-size: 13px;
}

.lang {
  float: right;
  padding-top: 5px;
}

.octicon {
  vertical-align: middle;
  display: inline-block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #d37324;
}
